.todoContainer {
  background-color: white;
  width: 60%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid gray;
  border-radius: 10px;
  /* box-shadow: 0 2px black; */
}

