.header {
    text-align: center;
    margin-bottom: 4%;
    margin-top: 1%;
}

.navlinkContainer {
    /*padding: 2px;*/
    /*border: 2px solid slategrey;*/
    /*border-radius: 4px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
    padding: 5px;
    /*border: 1px solid mediumblue;*/
    /*border-radius: 4px;*/
    font-size: calc(8px + 2vmin);
    transition: 0.5s;
}

.header a:hover {
    background-color: lightsteelblue;
    opacity: 0.7;
    padding: 5px;
    border: 0 solid lightsteelblue;
    border-radius: 6px;
}