.paginator {
    text-align: center;
    margin-bottom: 4%;
}

.pageNumber {
    padding: 2px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 17px;
}

.pages {
    margin: 0 2px;
}

.paginatorBtn {
    margin: 0 5px;
}