.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
    font-weight: bold;
    font-size: 17px;
    border-color: black;
}

.pages {
    margin: 0 2px;
}

.paginatorBtn {
    margin: 0 5px;
}