.todoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid #a1a1a1;
    border-top-left-radius: 25px;
    width: 100%;
}

.todoItem input {
    opacity: 0;
}

.todoItemDefault {
    font-size: calc(11px + 2vmin);
    font-weight: 100;
    color: dimgray;
    margin: 25px 30px;
    padding: 0 0;
}

.todoItemDone {
    font-size: calc(11px + 2vmin);
    font-weight: 100;
    /* color: chartreuse; */
    color: #c0c0c0;
    text-decoration: line-through;
    background-color: rgb(173, 255, 91);
    border-radius: 15px;
    padding: 10px 15px;
    margin: 15px 15px;

}