.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: calc(8px + 3vmin);
    font-weight: 400;
}

/*@media (max-width: 400px) {*/
/*    .topContainer {*/
/*        max-width: 100%;*/
/*    }*/
/*}*/

.topContainer {
    border: 2px solid slategrey;
    padding: 0 5%;
    border-radius: 15px;
}

.topContainer h1 {
    text-align: center;
    margin: 7% 0;
}

.imgWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3%;
}

.station {
    color: lightsteelblue;
    font-size: calc(3px + 1vmin);
    padding: 3% 0;
}