.container {
    font-size: calc(8px + 3vmin);
    font-weight: 400;
    transition: 0.5s;
}

.topContainer {
    border: 2px solid slategrey;
    margin: 0 5%;
    padding: 0 5%;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.animateWrapper {
    overflow: hidden;
}

.list {
    padding: 0;
    list-style: none;
    margin: 2% 0 4% 0;
    border: 1px solid slategrey;
    border-radius: 15px;
}

.listIcon {
    font: inherit;
    font-size: 85%;
    float: right;
    cursor: pointer;
    margin: 0.5% 3% 0 0;
}

.listItem {
    transition: 0.35s;
    border-bottom: 1px solid slategrey;
}

.listItem:last-child {
    border-bottom: none;
}

.listItem:hover {
    border-radius: 15px;
    background-color: navajowhite;
}

.listItemBtn {
    padding: 0 0 0 30%;
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: calc(10px + 3vmin);
    font-weight: 600;
}

.topContainer h1 {
    text-align: center;
    margin: 4% 0 0 0;
    cursor: pointer;
}

.cityArrow {
    font: inherit;
    font-size: calc(9px + 2vmin);
    position: absolute;
    margin: 7% 0 0 1%;
    transition: 350ms;
}

@media (max-width: 320px) {
    .cityArrow {
        font-size: calc(9px + 2vmin);
        margin: 6% 0 0 1%;
    }
    .imgWrapper img{
        width: 70px;
    }
}
@media (min-width: 321px) and (max-width: 550px) {
    .cityArrow {
        font-size: calc(9px + 2vmin);
        margin: 5% 0 0 1%;
    }
    .imgWrapper img{
        width: 95px;
    }
}
@media (min-width: 551px) and (max-width: 1000px) {
    .cityArrow {
        font-size: calc(9px + 2vmin);
        margin: 4.3% 0 0 1%;
    }
}
@media (min-width: 1001px) and (max-width: 1250px) {
    .cityArrow {
        font-size: calc(9px + 2vmin);
        margin: 3.8% 0 0 1%;
    }
}
@media (min-width: 1250px) and (max-width: 1920px) {
    .cityArrow {
        font-size: calc(9px + 2vmin);
        margin: 2.9% 0 0 1%;
    }
}

.imgWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3% 0 0 0;
}

.imgWrapper img {
    margin: 0 0 0 3%;
}

.scrollParent {
    /*display: inline-block;*/
    /*white-space: nowrap;*/
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid slategrey;
    border-left: none;
    border-right: none;
    scrollbar-width: none; /* Firefox 64 */
    -ms-overflow-style: none; /* IE 11 */
}

.scrollParent::-webkit-scrollbar {
    display: none;
}

.station {
    color: lightsteelblue;
    font-size: calc(3px + 1vmin);
    padding: 3% 0 3% 0;
}